%a{:href => "#j01"} Journal 01
%a{:href => "#j02"} Journal 02
%br
%a{:href => "#j03"} Journal 03
%a{:href => "#j04"} Journal 04
%a{:href => "#noderr"} Journal 05

%h2{:id => "j01"} {j01.page_title}
%a.perma{:href => "#j01"} #Permalink On This Page
{j01}
%br
%h2{:id => "j02"} {j02.page_title}
%a.perma{:href => "#j02"} #Permalink On This Page
{j02}
%br
%h2{:id => "j03"} {j03.page_title}
%a.perma{:href => "#j03"} #Permalink On This Page
{j03}
%br
%h2{:id => "j04"} {j04.page_title}
%a.perma{:href => "#j04"} #Permalink On This Page
{j04}
%h2{:id => "noderr"} {noderr.page_title} / Journal 05
%a.perma{:href => "#noderr"} #Permalink On This Page
{noderr}

:page_title: Author's Journal
:render_as: Haml

