#thicks
  .row
    .onecol
    .sixcol
      %h2 (Thicker Threads)
      %br
    .fivecol.last
  .row
    .onecol
    .twocol
      {lt journal}
    .twocol
      {lt pd}
    .twocol
      {lt weeklies, Weeklies}
    .fivecol.last


