.title
  %h2 {onawn}
.subtitle
  %p tracking :: engaged
  %br
  %p a {l splendorr,Splendorr} join'd
  %br
  %br
  They Said, "{l newindex,Indicate}!"
  %br
  "Something Resembling {l exp_lan,An Explanation}."
  %br
  //
  %br
  "{l search,Search Me},"
  %br
  {l journal,I Said}.
  %br
  %br
  / {lt weeklies}
  They Said, "Order, Order!"
  %br
  In The Court of the Tribunal,
  %br
  And Presented {l recents,Recent Evidence}.
  %br
  //
  %br
  Come And Get Me,
  %br
  It Said
  

:render_as: Haml



